a{
  text-decoration: none;
}

h1{
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.mt{
  margin-top: 4px;
}

*:focus {
  outline: none;
}

button{
  cursor: pointer;
}

/*ローカルのパンくずリスト*/
ol.localBreadList{
  margin-top: 18px;
}
ol.localBreadList li{
  display: inline;
  list-style-type: none;
  font-weight: bold;
  color: #aaa;
}
ol.localBreadList li a{
  color: #1841ce;
  text-decoration: underline;
}
ol.localBreadList li:before {
  content: "　>　";
}
ol.localBreadList li:first-child:before {
  content: none;
}
