.detail{
	padding: 24px;
}
.detail img{
	float:left;
	margin-left: 12px;
	width: 300px;
	height: 300px;
}
.detail .textBox{
	float: left;
	width: 60%;
	margin-left: 20px;
}
.detail .title{
	font-size: 40px;
	margin-bottom: 2px;
}
.detail .price{
	font-size: 30px;
	padding-left: 6px;
}
.detail .comment{
	font-size: 18px;
	padding: 6px;
}

.detail button{
  display: block;
  margin: 0 auto;
	margin-top: 16px;
  padding: 16px 40px;
  color: #fff;
	font-size: 18px;
  font-weight: bold;
  background-color: #9fcb02;
  border: none;
  border-radius: 2px;
}
.detail button:hover{
  opacity: 0.7;
}
.liDel button{
  background-color: #bf0000;
}
