/*ソートや検索のナビゲーションへのスタイル*/
.subNav{
  padding-top: 8px;
  margin-top: 16px;
}
.navMenu{
  width: 960px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: block;
}
.navMenu>li{
  display: block;
  float: left;
  margin: 0;
}

.navMenu>li:first-child{
  margin-left: 5%;
  width: 8%;
}
.navMenu>li:nth-child(2){
  width: 50%;
}
.navMenu>li:last-child{
  width: 6%;
  margin-right: 5%;
  float: right;
  font-weight: bold;
}
.navMenu p a{
  color: #3d3734;
  font-weight: bold;
}

/*検索機能*/
#search input[type="text"]{
  padding: 9px;
  width: 200px;
  border-radius: 0 2px 2px 0;
  border-left: 0px;
  border: 1px solid #ccc;
  font-family: FontAwesome;
}
#search input[type="button"]{
  font-size: 14px;
  padding: 4px;
  width: 100px;
  border-radius: 2px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/*リストソート*/
.selecter select{
  padding: 4px;
  font-size: 14px;
  width: 100%;
  border-radius: 2px 0 0 2px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}

/*人気キーワードによるテキストトリガー*/
.textList li{
  font-size: 12px;
  display: block;
  float: left;
  margin-top: 6px;
  margin-left: 28%;
  color: #3d3734;
}
.textList li p{
  font-weight: bold;
  cursor: pointer;
}
.textList li:not(:first-child){
  margin-left: 12px;
}
.textList i{
  margin-top: 4px;
  margin-left: 12px;
  font-size: 13px;
  cursor: pointer;
}

/*カート部のCSS設定*/
.cartWrapper{
  position: relative;
  text-align: center;
  color: #3d3734;
}
.label{
  opacity: 1.0;
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: #f08804;
  color: #fff;
  padding: 4px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
}
.cartWrapper i{
  font-size: 36px;
  color: #3d3734;
}
.cartButton{
  cursor: pointer;
}

/*JSによって動的に生成されるリスト*/
.list{
  margin-top: 24px;
}
.list li{
  float: left;
  margin-left: 52px;
  margin-bottom: 20px;
}
.list img{
  width: 250px;
  height: 250px;
}
.list button{
  display: block;
}

/*カートが満杯になるまで、隠しておくボックス*/
#overlay{
  display: none;
  width: 100%;
  height:100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0,0,0,0.7);
}

/*カートのボタンがクリックされると表示する*/
#cartlay{
  display: none;
  width: 250px;
  height:250px;
  position: absolute;
  padding: 15px;
  top: 70px;
  right: 5%;
  background: #f7f3e8;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#wordlay{
  display: none;
  width: 112px;
  height:150px;
  position: absolute;
  top: 76px;
  left: 30%;
  background: #f7f3e8;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/*ナビゲーション固定*/
.fixed{
  position: fixed;
  z-index: 100;
  top: 0;
  width: 960px;
  margin: 0 -500%;
  padding: 8px 500%;
  border-color: #eee;
}
