p.text{
  font-size: 26px;
  margin-bottom: 12px;
}
.reserve{
  padding: 24px;
  padding-left: 60px;
}

/*写真のリスト*/
.imgList{
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  padding-top: 20px;
}
.imgList li{
  float: left;
  margin-left: 24px;
}
.imgList img{
  width: 200px;
  height: 200px;
}
.imgList p{
  text-align: center;
  margin: 12px;
  font-size: 16px;
}

/*会計の表*/
.column{
  margin: 18px 0;
}
.col1{
  margin-left: 200px;
  width: 180px;
  float: left;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 12px 20px;
}
.col1 p{
  line-height: 1.8em;
}
.b{
  font-weight: bold;
}
.totalPrice{
  color: #b12704;
  font-size: 18px;
  border-top: 1px solid #ccc;
  margin-top: 6px;
  padding-top: 6px;
  font-weight: bold;
}
.col2{
  width: 300px;
  margin-left: 20px;
  float: left;
  padding-top: 40px;
}
.left{
  float: left;
}
.right{
  text-align: right;
}
button.confirm{
  display: block;
  margin: 0 auto;
	margin-top: 20px;
  padding: 16px 40px;
  color: #fff;
	font-size: 18px;
  font-weight: bold;
  background-color: #f08804;
  border: none;
  border-radius: 2px;
}
button.confirm:hover{
  opacity: 0.7;
}
button.back{
  display: block;
  margin: 0 auto;
	margin-top: 20px;
  padding: 12px 36px;
  color: #fff;
	font-size: 16px;
  font-weight: bold;
  background-color: #777;
  border: none;
  border-radius: 2px;
}
button.back:hover{
  opacity: 0.7;
}
.unTouch{
  opacity: 0.7;
  -webkit-filter: grayscale(90%);
  cursor: default;
}
.unTouch:hover{
  opacity: 1.0;
}
